<%page expression_filter="h"/>
<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>
<%block name="title">${_('Maintenance Dashboard')}</%block>
<%block name="viewcontent">
<div class="container maintenance-content">
    <ul class="maintenance-list">
        % for view in views.values():
        <li><a href='${view["url"]}'>${view['name']}</a>${view['description']}</li>
        % endfor
    </ul>
</div>
</%block>
