<%page expression_filter="h"/>
<%inherit file="base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Maintenance Dashboard")}</%block>
<%block name="viewcontent">
<section class="container maintenance-content">
    <ul>
        % for view in views.values():
        <li><a href='${view["url"]}'>${unicode(view["name"])}</a>${unicode(view["description"])}
        </li>
        % endfor
    </ul>
</section>
</%block>
